$colorBase:#ffcc00;
$colorSecondary:#898f8f;
$colorCol:#666666;
$colorIcon:#cccccc;
$colorText:#333333;

$fontBase: 'Raleway', sans-serif;
$fontH: 'Roboto', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;

$sizeLine:100px;
$widthHr:10px;

$position:-15px;

$border:1px solid $colorBase;